body {
font-family: 'Roboto', sans-serif;
margin: 0%;
}
.header {
background-image: url(/images/background.jpg); /*ссылка на изображение*/
background-size: cover;
color: white;
background-color: black;
}
.name {
text-transform: uppercase;
}
.main-menu {
font-size: 20px;
font-weight: bold;
padding: 20px 0;
}
.main-menu a{
color: white;
text-decoration: none;
}
.main-menu a:hover{ /*меняет цвет кнопки при наведении*/
    color: lightgreen;
    transition: 0.5s;
}